body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  background-color: var(--header-background-color);
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-toggle {
  display: flex;
  align-items: center;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.main {
  padding: 20px;
  text-align: center;
}

.card {
  width: 300px;
  height: 200px;
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.dark-theme {
  --background-color: #333;
  --text-color: #fff;
  --header-background-color: #222;
  --card-background-color: #444;
}

.light-theme {
  --background-color: #fff;
  --text-color: #333;
  --header-background-color: #f2f2f2;
  --card-background-color: #f8f8f8;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/FiraCode-Regular.ttf') format('truetype');
  /* Add additional font formats if necessary */
}

body {
  font-family: 'Fira Code', monospace;
  font-variant-ligatures: common-ligatures; /* or use 'contextual' */
}
